@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642058262625') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiantianquan:before {
  content: "\fa67";
}

.icon-jiudianyuding:before {
  content: "\fd2d";
}

.icon-tongchengwaimai:before {
  content: "\fd2e";
}

.icon-baihuochaoshi:before {
  content: "\fd2f";
}

